.hero{
    margin-top: 167px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title{
    font-size: 52px;
    font-weight: 500;
    line-height: 63.39px;
    text-align: left;
    color: #424242;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero__title strong{
    font-size: 52px;
    font-weight: 700;
    line-height: 63.39px;
    text-align: left;
    color: #D05270;
}

.hero__text{
    max-width: 630px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    color: #424242;
    margin-block: 36px;

}

.social_items{
    max-width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.social_items button{
    border: none;
    background-color: transparent;
}

.social_items button a{
    padding: 24px 52px;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    text-transform: uppercase;
    transition: .3s;
}

.twitter{
    background-color: #47ACDF;
}

.linkedin{
    background-color: #1275B1;
}

.medium{
    background-color: #000;
}


.social_items button a:active{
    transform: scale(0.8);
}